<!DOCTYPE html>
<html lang="sv">
  <head>
    <% include ../../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../../partials/header %>
    </header>
    <main>
      <div class="jumbotron">
        <h1>Utfodring</h1>
      </div>
      <div class="container">
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSavedConsumptions" aria-expanded="false" aria-controls="collapseSavedConsumptions">
            Visa sparade utfodringar
          </button>
        </p>
        <div class="collapse" id="collapseSavedConsumptions">
          <h2>Sparade utfodringar</h2>
          <p>10 senast sparade</p>
          <% if(consumptions.length > 0) {%>
          <ul class="list-group">
            <% consumptions.forEach(function(c, i) { %>
            <li class="list-group-item">Datum: <%= c.date.toISOString().split('T')[0] %>
              <br />
              Djurgrupp: <%= c.animalGroup %>
              <br />
              Mängd: <%= c.amount %> <%= c.unit %>
              <br />
              Batch: <%= c.batch %>
              <br />
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConsumptionModal<%= i %>">
                Ta bort
              </button>
              <!--- Ta bort-bekräftelse modal -->
              <div class="modal fade" id="deleteConsumptionModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="deleteConsumptionModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteConsumptionTitle">Ta bort utfodring</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Är du säker på att du vill ta bort <%= consumptions[i].animalGroup %>s utfodring den <%= consumptions[i].date.toISOString().split('T')[0] %>? Det går inte att ångra
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                      <form action="/consumptions/delete/<%= consumptions[i]._id %>" method="post">
                        <button type="submit" class="btn btn-danger" value="accept">Ta bort</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <% });%>
          </ul>
          <% } %>
        </div>
      </div>
      <div class="container">
        <h2>Lägg till ny utfodring</h2>
        <form action="/consumptions" method="post">
          <div class="form-group">
            <label for="consumptionForm">Datum - första dagen</label>
            <input type="date" class="form-control" id="consumptionFormDateFirst" name="consumptionDateFirst" required>
          </div>
          <div class="form-group">
            <label for="consumptionForm">Datum - sista dagen</label>
            <input type="date" class="form-control" id="consumptionFormDateLast" name="consumptionDateLast" required>
          </div>
          <div class="form-group">
            <label for="consumptionForm">Mängd (per dag)</label>
            <input type="number" class="form-control" id="consumptionFormAmount" name="consumptionAmount" step=".01" required>
          </div>
          <div class="form-group">
            <label for="consumptionForm">Batch</label>
            <div class="form-check">
              <% batches.forEach(function(b){%>
              <input type="radio" value="<%= b.name %>" name="consumptionBatch" required>
              <label class="form-check-label"> <%= b.name %></label>
              <% }); %>
            </div>
          </div>
          <div class="form-group">
            <label for="consumptionForm">Djur/djurgrupp - minst en måste väljas</label>
            <div class="form-check">
              <% animalGroups.forEach(function(animalGroup){%>
              <input type="checkbox" value="<%= animalGroup.name %>" name="consumptionAnimalGroup">
              <label class="form-check-label"> <%= animalGroup.name %></label>
              <% }); %>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" value="accept">Spara</button>
        </form>
      </div>
    </main>
  </body>
</html>
