<!DOCTYPE html>
<html lang="sv">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <div class="jumbotron">
        <h1>Djur/djurgrupper</h1>
      </div>
      <div class="container">
        <h2>Sparade djur och djurgrupper</h2>
        <% if(animalGroups.length > 0) {%>
        <ul class="list-group">
          <% animalGroups.forEach(function(animalGroup, i) { %>
          <li class="list-group-item">
            Namn: <%= animalGroup.name %>
            <br />
            Antal djur: <%= animalGroup.amount %>
            <br />
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAnimalGroupModal<%= i %>">
              Ta bort
            </button>
            <!--- Ta bort-bekräftelse modal -->
            <div class="modal fade" id="deleteAnimalGroupModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="deleteAnimalGroupModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteAnimalGroupTitle">Ta bort <%= animalGroups[i].name %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Är du säker på att du vill ta bort <%= animalGroups[i].name %>? Det går inte att ångra. Allt foder som förbrukats av <%= animalGroup.name %> kommer att återställas.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                    <form action="/animalGroups/delete/<%= animalGroup.name %>" method="post">
                      <button type="submit" class="btn btn-danger" value="accept">Ta bort</button>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <% });%>
        </ul>
        <% } %>
      </div>
      <div class="container">
        <h2>Lägg till ny djurgrupp/nytt djur</h2>
        <form action="/animalGroups" method="post">
          <div class="form-group">
            <label for="animalGroupForm">Namn</label>
            <input type="text" class="form-control" id="animalGroupFormName" name="animalGroupName">
          </div>
          <div class="form-group">
            <label for="animalGroupForm">Antal djur</label>
            <input type="number" class="form-control" id="animalGroupFormAmount" name="animalGroupAmount">
          </div>
          <button type="submit" class="btn btn-primary" value="accept">Spara</button>
        </form>
      </div>
    </main>
  </body>
</html>
