<!DOCTYPE html>
<html lang="sv">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <div class="jumbotron">
        <h1>Foderbatchar</h1>
      </div>
      <div class="container">
        <% if (errorMessage) {%>
        <div class="alert alert-danger">
          <%= errorMessage %>
        </div>
        <%}%>
        <h2>Sparade batchar</h2>
        <% if(batches.length > 0) {%>
        <ul class="list-group">
          <% batches.forEach(function(b, i) { %>
          <li class="list-group-item">
            Namn: <%= b.name %>
            <br />
            Fodertyp: <%= b.fodderType %>
            <br />
            Orginalmängd: <%= b.weight%> <%= b.unit%>
            <br />
            Schemalagd mängd: <%= b.scheduledAmount %> <%= b.unit%>
            <br />
            Förbrukad mängd: <%= b.consumedAmount %> <%= b.unit%>
            <% if(b.refillable === true) {%>
            <form action="/batches/<%= b.name %>/<%= b.weight %>" method="post">
              <div class="form-group">
                <label for="batchForm">Mängd: </label>
                <input type="number" class="form-control" id="batchFormRefillAmount" name="batchRefillAmount" required>
              </div>
              <button type="submit" class="btn btn-primary" value="accept">Fyll på</button>
            </form>
            <%  }%>
            <br />
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteBatchModal<%= i %>">
              Ta bort
            </button>
            <!--- Ta bort-bekräftelse modal -->
            <div class="modal fade" id="deleteBatchModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="deleteBatchModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteBatchTitle">Ta bort <%= batches[i].name %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Är du säker på att du vill ta bort <%= batches[i].name %>? Det går inte att ångra. Alla utfodringar relaterade till <%= batches[i].name %> kommer också att tas bort.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                    <form action="/batches/delete/<%= batches[i].name %>" method="post">
                      <button type="submit" class="btn btn-danger" value="accept">Ta bort</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <% })%>
        </ul>
        <% } %>
      </div>
      <div class="container">
        <h2>Lägg till ny batch</h2>
        <form action="/batches" method="post">
          <div class="form-group">
            <label for="batchForm">Namn</label>
            <input type="text" class="form-control" id="batchFormName" name="batchName" required>
          </div>
          <div class="form-group">
            <label for="consumptionForm">Fodertyp</label>
            <div class="form-check">
              <% fodderTypes.forEach(function(f){%>
              <input type="radio" value="<%= f %>" name="batchFodderType" required>
              <label class="form-check-label"> <%= f %></label>
              <% }); %>
            </div>
          </div>
          <div class="form-group">
            <label for="consumptionForm">Enhet</label>
            <div class="form-check">
              <% units.forEach(function(u){%>
              <input type="radio" value="<%= u %>" name="batchUnit" required>
              <label class="form-check-label"> <%= u %></label>
              <% }); %>
            </div>
          </div>
          <div class="form-group">
            <label for="batchForm">Mängd i vald enhet</label>
            <input type="number" class="form-control" id="batchFormWeight" name="batchWeight" required>
          </div>
          <div class="form-group">
            <label for="batchForm">Påfyllningsbar</label>
            <div class="form-check">
              <input type="radio" value="Ja" id="batchFormRefillable" name="batchRefillable" required>
              <label class="form-check-label"> Ja</label>
              <input type="radio" value="Nej" id="batchFormRefillable" name="batchRefillable" required>
              <label class="form-check-label"> Nej</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" value="accept">Spara</button>
        </form>
      </div>
    </main>
  </body>
</html>
