<!DOCTYPE html>
<html lang="sv">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <div class="jumbotron">
        <h1>Utfodring</h1>
      </div>
      <div class="container">
        <h2>Sparade utfodringar</h2>
        <p>10 senast sparade</p>
        <% if(consumptions.length > 0) {%>
        <ul class="list-group">
          <% consumptions.forEach(function(c) { %>
          <li class="list-group-item">Datum: <%= c.date.toISOString().split('T')[0] %>
            <br />
            Djurgrupp: <%= c.animalGroup %>
            <br />
            Mängd: <%= c.amount %> (kg/dl)
            <br />
            Batch: <%= c.batch %>
          </li>
          <% });%>
        </ul>
        <% } %>
      </div>
      <div class="container">
        <h2>Lägg till ny utfodring</h2>
        <form action="/consumptions" method="post">
          <div class="form-group">
            <label for="consumptionForm">Datum - första dagen</label>
            <input type="date" class="form-control" id="consumptionFormDateFirst" name="consumptionDateFirst" required>
          </div>
          <div class="form-group">
            <label for="consumptionForm">Datum - sista dagen</label>
            <input type="date" class="form-control" id="consumptionFormDateLast" name="consumptionDateLast" required>
          </div>
          <div class="form-group">
            <label for="consumptionForm">Mängd (per dag)</label>
            <input type="number" class="form-control" id="consumptionFormAmount" name="consumptionAmount" step=".01" required>
          </div>
          <div class="form-group">
            <label for="consumptionForm">Batch</label>
            <div class="form-check">
              <% batches.forEach(function(b){%>
              <input type="radio" value="<%= b.name %>" name="consumptionBatch" required>
              <label class="form-check-label"> <%= b.name %></label>
              <% }); %>
            </div>
          </div>
          <div class="form-group">
            <label for="consumptionForm">Djur/djurgrupp - minst en måste väljas</label>
            <div class="form-check">
              <% animalGroups.forEach(function(animalGroup){%>
              <input type="checkbox" value="<%= animalGroup.name %>" name="consumptionAnimalGroup">
              <label class="form-check-label"> <%= animalGroup.name %></label>
              <% }); %>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" value="accept">Spara</button>
        </form>
      </div>
    </main>
  </body>
</html>
