<!DOCTYPE html>
<html lang="sv">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <main>
    <div class="jumbotron">
      <h1>Hantera utfodring</h1>
    </div>
    <div class="container">
      <h2>Sparade utfodringar</h2>
      <% if(consumptions.length > 0) {%>
      <ul>
        <% consumptions.forEach(function(c) { %>
        <li>Datum: <%= c.date.toISOString().split('T')[0] %> Häst: <%= c.horse %><br />Fodertyp: <%= c.fodderType %> Mängd: <%= c.amount %> <%= c.unit %> Batch: <%= c.batch %></li>
        <% });%>
      </ul>
      <% } %>
    </div>
    <div class="container">
     <h2>Lägg till ny utfodring</h2>
    <form action="/consumptions" method="post">
      <div class="form-group">
        <label for="consumptionForm">Datum - första dagen</label>
        <input type="date" class="form-control" id="consumptionFormDateFirst" name="consumptionDateFirst">
      </div>
      <div class="form-group">
        <label for="consumptionForm">Datum - sista dagen</label>
        <input type="date" class="form-control" id="consumptionFormDateLast" name="consumptionDateLast">
      </div>
       <div class="form-group">
        <label for="consumptionForm">Mängd (per dag)</label>
        <input type="number" class="form-control" id="consumptionFormAmount" name="consumptionAmount">
      </div>
      <div class="form-group">
        <label for="consumptionForm">Enhet</label>
            <div class="form-check">
                  <% units.forEach(function(u){%>
                  <input type="radio" value="<%= u %>" name="consumptionUnit">
                  <label class="form-check-label"> <%= u %></label>
                  <% }); %>
            </div>
      </div>
      <div class="form-group">
        <label for="consumptionForm">Fodertyp</label>
            <div class="form-check">
                  <% fodderTypes.forEach(function(f){%>
                  <input type="radio" value="<%= f %>" name="consumptionFodderType">
                  <label class="form-check-label"> <%= f %></label>
                  <% }); %>
            </div>
      </div>
      <div class="form-group">
        <label for="consumptionForm">Batch</label>
            <div class="form-check">
                  <% batches.forEach(function(b){%>
                  <input type="radio" value="<%= b.name %>" name="consumptionBatch">
                  <label class="form-check-label"> <%= b.name %></label>
                  <% }); %>
            </div>
      </div>
      <div class="form-group">
        <label for="consumptionForm">Häst</label>
            <div class="form-check">
                  <% horses.forEach(function(h){%>
                  <input type="radio" value="<%= h.name %>" name="consumptionHorse">
                  <label class="form-check-label"> <%= h.name %></label>
                  <% }); %>
            </div>
      </div>
      <button type="submit" class="btn btn-primary" value="accept">Spara</button>
    </form>
    </div>
  </main>
</body>
</html>
